body {
  font-size: 16px;
  color: #fff;
  background-color: black;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color:whitesmoke;
  border-radius:0;
  border-width:5px;
  border-color: black;
  box-shadow: 2px 2px 5px cornflowerblue;
  padding-bottom: 25px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Food,LLC */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 5px cornflowerblue;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.container-fluid{
  width:100%;
  margin-top:0;
  margin-bottom:0;
}

#nav-list {
  margin-bottom:10px;
  background-color:lightcyan;
}

#nav-list a {
  color: mediumvioletred;
  text-align: center;
}

#nav-list a:hover {
  background:black;
}
#nav-list a span {
  font-size:1.8em;
}

#nav-list li {
  margin-bottom: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid skyblue;
}

/* END HEADER */

/*MAIN CONTENT*/

.container-fluid{
  width:100%;
  margin-right:0;
  margin-left: 0;
}


.container-fluid h2 {
  color: wheat;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 5px darkviolet;
  padding-top:-25px;
  padding-bottom:20px;
  line-height: .75;
  margin-bottom:0;
}



.col-xs-12 { 
position:relative; 
background-color: darkmagenta; 
height:1000px;
margin-right:20px;
margin-top:20px;
}


h3{
  padding-top:20px;
  padding-bottom:0;
}


#p2 {
   color:whitesmoke;
  font-size: 1em;
  font-weight: italic;
  line-height:1.25;
  height:1000px;
  padding-top:40px;
  padding-left: 10px;
  padding-right: 20px;
  max-width:20;
  position:absolute;
  margin-top:0;
}




/*Media Queries*/

/********** Desktop-md class **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Tablet-sm class **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Mobile-xs class **********/
@media (max-width: 767px) {
  .navbar-brand {
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    padding-bottom:10px;
    float:right;
    font-size: 5vw;
  }

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}
 
  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
}


